@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: #0b0c1c;
    font-family: 'Combo', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: #f9efff;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #a0a0ff, 0 0 20px #b0b0ff;
    transition: 0.3s;
    z-index: 2;
}

.title:hover {
    text-shadow: 0 0 20px #d0d0ff, 0 0 40px #e0e0ff, 0 0 60px #c0c0ff;
    cursor: default;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.title-wrapper {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.saturn-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
    animation: orbit 10s infinite;
    z-index: 1;
}

.saturn-container a {
    display: block;
    cursor: pointer;
}

.saturn-container a:hover .saturn {
    filter: drop-shadow(0 0 10px #f9efff);
    transition: filter 0.3s;
}

.saturn {
    width: 150px;
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(140px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(140px) rotate(0deg); }
}